<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .bg1{
      background-color: #330033;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='323' height='323' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='10'/%3E%3Ccircle cx='539' cy='269' r='10'/%3E%3Ccircle cx='603' cy='493' r='10'/%3E%3Ccircle cx='731' cy='737' r='10'/%3E%3Ccircle cx='520' cy='660' r='10'/%3E%3Ccircle cx='309' cy='538' r='10'/%3E%3Ccircle cx='295' cy='764' r='10'/%3E%3Ccircle cx='40' cy='599' r='10'/%3E%3Ccircle cx='102' cy='382' r='10'/%3E%3Ccircle cx='127' cy='80' r='10'/%3E%3Ccircle cx='370' cy='105' r='10'/%3E%3Ccircle cx='578' cy='42' r='10'/%3E%3Ccircle cx='237' cy='261' r='10'/%3E%3Ccircle cx='390' cy='382' r='10'/%3E%3C/g%3E%3C/svg%3E");
      color: aliceblue;
    }
    .btn1{
      font-size: larger;
      border: 2px solid greenyellow;
      width: 50%;
      background: #c2dc85;
      border-radius: 20px;
    }
    </style>
  </head>
  <body>
    {{>navbar}}

    <section class="banner1_section bg1 py-5 ">
        <div class="container text-center">
            <div class="row">
                <div class="coll-md-12">
                <h1> WE MAKE YOUR FUTURE HERE  </h1>
                <h5>We work for people, not for money. We provide or offer a very-high quality, costomized 
                   and research base services. First try us then belive us</h5>
            </div>
            </div>
        </div>

    </section>
    <div class="banner2_section py-5" id="id1">
          <div class="container text-center ">
            <div class="row">
              <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div>
              <div class="col-md-6 mt-5">
                {{!-- left side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Senior & Middle Level Hiring
                  </h3>
                 
                 <p class="text-start ">you're a talent seeker or need to fill some positions, we've got you covered. We continuously update our database candidates as well as Client, ensuring we are always able to deliver the best available Jobs in India or Abroad. We take care of every step of the process for you. Let us do all the hard work for you so that you can focus on your tasks at hand.</p>
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>

              <div class="col-md-6 text-ceter py-5">
                {{!-- right side  --}}
                <img src="/static/images/g1.jpg" style="height: 300px; " alt="">

              </div>
            </div>
          </div>
        </div>
    




 <div class="banner2_section py-5" id="id2">
          <div class="container text-center ">
            <div class="row">

              <div class="col-md-6 text-ceter py-5">
                {{!-- left side  --}}
                <img src="/static/images/g2.jpg" style="height: 300px; " alt="">

              </div>

              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 ">
                {{!-- right side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Career Trasition Services
                  </h3>
                 
                 <p class="text-start ">Job seekrs joine here to find their dream job. Companies post their openings and get access to resumes from the best talent in India & abroad. We're passionate about connecting talented people with the right jobs, so you can focus on what's important to you.</p>
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>


            </div>
          </div>
        </div>



    <div class="banner2_section py-5" id="id3">
          <div class="container text-center ">
            <div class="row">
              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 mt-5">
                {{!-- left side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Global Sourcing
                  </h3>
                 
                 <p class="text-start ">Let Global Hiring take your headache away. From sourcing to screening, we handle all aspects of the recruitment process. We offer extensive domain knowledge and a team of industry experts that know how to find the most Suitable. Contact us to see how we can help you.</p>
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>

              <div class="col-md-6 text-ceter py-5">
                {{!-- right side  --}}
                <img src="/static/images/g3.jpg" style="height: 300px; " alt="">

              </div>
            </div>
          </div>
        </div>
    




 <div class="banner2_section py-5" id="id4">
          <div class="container text-center ">
            <div class="row">

              <div class="col-md-6 text-ceter py-5">
                {{!-- left side  --}}
                <img src="/static/images/g4.jpg" style="height: 300px; width:100%" alt="">

              </div>

              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 ">
                {{!-- right side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Market Intelligence
                  </h3>
                 
                 <p class="text-start ">The Market Intelligence market is a wide variety of competitive tools that will enable organizations take informed decisions. Market intelligence tools help organizations to make more educated decisions based on a variety of data points. With a strong focus on the recruitment process, we ensure we match the right candidate with the perfect opportunity.</p>
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>


            </div>
          </div>
        </div>



    <div class="banner2_section py-5" id="id5">
          <div class="container text-center ">
            <div class="row">
              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 mt-5">
                {{!-- left side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Training Programmes
                  </h3>
                 
                 <p class="text-start ">Training programs are an excellent way to learn more about a specific field. This is usually free or has a low cost involved. It increse your jobs chance by 100%. The best way to increase the chances of being hired at a company is by having a good knowledge of the company's culture and values as well as ensuring that you are up to date in terms of knowledge and skills. These can be achieved by going through one or more training programs</p>
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>

              <div class="col-md-6 text-ceter py-5">
                {{!-- right side  --}}
                <img src="/static/images/g5.jpg" style="height: 300px; " alt="">

              </div>
            </div>
          </div>
        </div>
    




 <div class="banner2_section py-5" id="id6">
          <div class="container text-center ">
            <div class="row">

              <div class="col-md-6 text-ceter py-5">
                {{!-- left side  --}}
                <img src="/static/images/g6.jpg" style="height: 300px; " alt="">

              </div>

              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 ">
                {{!-- right side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Intenship Programmes
                  </h3>
                 
                 <p class="text-start ">Intenship Training Programs are an excellent way of getting a foot in the door and learning from professionals who have the experience.An internship is a short-term program that provides on the job training and experiential learning. Internships help students to get a head start in the world of work by gaining experience in an area of study.</p>
                 
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>


            </div>
          </div>
        </div>



    <div class="banner2_section py-5" id="id7">
          <div class="container text-center ">
            <div class="row">
              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 mt-5">
                {{!-- left side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Bulk Hiring
                  </h3>
                 
                 <p class="text-start ">We recruit our applicants in various industries as International and Domestic Bpo, IT, Edutech, Banking and Insurance on pan India level. Our skilled team makes sure the applicant is well prepared for the interview rounds. We are young and enthusiastic bunch of people, who are ready to serve you round the clock.</p>
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>

              <div class="col-md-6 text-ceter py-5">
                {{!-- right side  --}}
                <img src="/static/images/g7.jpg" style="height: 300px; " alt="">

              </div>
            </div>
          </div>
        </div>
    




 <div class="banner2_section py-5" id="id8">
          <div class="container text-center ">
            <div class="row">

              <div class="col-md-6 text-ceter py-5">
                {{!-- left side  --}}
                <img src="/static/images/g8.jpg" style="height: 300px; width:100%" alt="">

              </div>

              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 ">
                {{!-- right side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Lateral Hiring
                  </h3>
                 
                 <p class="text-start ">Lateral hiring refers to recruiting professionals in other industries who may have experience in a certain field or skillset that your company needs.In an industry where there are more jobs than qualified applicants, this can be a great way of acquiring essential skills and expertise.
                  Lateral hiring is not just about hiring candidates from the same industry. It can also be seen as recruiting candidates from outside of your industry who have the skills and experience you need, since they can offer a fresh perspective.
                 </p>
   
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>


            </div>
          </div>
        </div>



    <div class="banner2_section py-5" id="id9">
          <div class="container text-center ">
            <div class="row">
              {{!-- <div><h2 class="text-decoration-underline">OUR SERVICES</h2></div> --}}
              <div class="col-md-6 mt-5">
                {{!-- left side --}}
                  <h3 class="mt-3 py-3 text-decoration-underline">
                    Corporate Hiring
                  </h3>
                 
                 <p class="text-start ">We are a leading recruitment agency from India. We recruit top-rated applicants in various industries.Our recruiters are committed to finding the right candidates for our client's requirements.
                  We work in tandem with you to understand your hiring needs and find you the best talent.
                  We have an aligned strategy that assists our clients in taking their business to next level by hiring the right people for their company.
                  Whether you are looking for fresh graduates, experienced professional, or any other domain expertise that is required, we will provide you a pool of candidates with 100% accuracy and certainty at a competitive pricing plan.</p>
        
              <br><div class="btn1 text-center " ><a href="/job#id15">Apply Now</a></div>
              </div>

              <div class="col-md-6 text-ceter py-5">
                {{!-- right side  --}}
                <img src="/static/images/g9.jpg" style="height: 300px; width:100% " alt="">

              </div>
            </div>
          </div>
        </div>
    
        {{>query}}
        {{>foot}}








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>